.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
    padding: 13;
    font-size: 22;
    font-weight: bold;
    horizontal-align: center;
}

.sideLabel {
    padding: 10;
    font-size: 20;
}

.sideLightGrayLabel {
    background-color: lightgray;
}