<actionBar></actionBar>

<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <DateTimeContinuousAxis allowPan="true" allowZoom="true" tkCartesianHorizontalAxis minimum="01/09/2018" maximum="30/11/2018"
        majorStep="week" dateFormat="MMM-dd" labelFitMode="Rotate" labelRotationAngle="1.2"></DateTimeContinuousAxis>
    <LinearAxis tkCartesianVerticalAxis></LinearAxis>

    <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="date" valueProperty="exercise"></BarSeries>
</RadCartesianChart>