<actionBar></actionBar>
<StackLayout>
    <Label text="Настройки" class="header" textWrap="true"> </Label>
    <StackLayout class="input-field">
        <TextField hint="Email" class="input"></TextField>
        <Button text="Изпрати всички данни на емайл!" (tap)="send()" class='btn btn-primary btn-rounded-lg btn-active'></Button>
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <Button text="Изтрий всички данни!" (tap)="clear()" class='btn btn-primary btn-rounded-lg btn-active'></Button>
</StackLayout>